h1, p {
  font-family: Lato;
}

.\@hover\:bg-red {
  background-color: red;
}

.font {
 font-family: 'Courier New', Courier, monospace; 
}

.div:first-child {
  background-color: blue;
}

.div:first-child {
  background-color: blue;
}

/* .ping {
  background-color: blue;

  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;

}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
} */